"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" Basic remapping                                 """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
let mapleader = " "

set history=10000
set visualbell " No bell sound
set clipboard=unnamedplus,unnamed,ideaput
set nocompatible
set backspace=2
set showcmd

vnoremap < <gv
vnoremap > >gv

map Y y$
vnoremap p pgvy

nmap s ys

nnoremap * *``

nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

nmap <C-w>q :q<CR>
nmap <leader>a ggVG

"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" Plugins                                         """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
Plug 'tpope/vim-surround'
set multiple-cursors

"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" IDEA Actions                                    """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""

vnoremap " :action EditorAddCaretPerSelectedLine<CR>:action EditorLineStart<CR>
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>t :q<CR>

nmap <leader>i <action>(Generate)

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>
map gh <Action>(ShowErrorDescription)

nmap <leader>f  :action ReformatCode<CR>

nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences


"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" Clojure Specifics                               """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
nnoremap <space>co :action :cursive.repl.actions/jump-to-output<CR>
nnoremap <space>cr :action :cursive.repl.actions/jump-to-repl<CR>
nnoremap <space>cx :action :cursive.repl.actions/run-top-sexp<CR>
nnoremap <space>cl :action :cursive.repl.actions/load-file<CR>
nnoremap <space>cn :action :cursive.repl.actions/switch-namespace<CR>
nnoremap <space>cs :action :cursive.repl.actions/sync-files<CR>
nnoremap <space>cc :action :cursive.repl.actions/clear-repl<CR>
