
""""""""""""""""""""""""""""""""""""""""""""""""""""""" 
""" Basic remapping                                 """ 
""""""""""""""""""""""""""""""""""""""""""""""""""""""" 
let mapleader = " "
  
set history=10000
set clipboard=unnamedplus,unnamed,ideaput
set nocompatible 
set backspace=2
set showcmd

vnoremap < <gv
vnoremap > >gv
vnoremap = =gv
map Y y$
vnoremap p pgvy

nnoremap n nzz
nnoremap N Nzz
nnoremap * *``

nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
nnoremap <leader>sa "5yiw:%s/<c-r>5/
nnoremap <leader>s "5yiw:s/<c-r>5/
vnoremap <leader>sa "5y:%s/<c-r>5>/
vnoremap <leader>s "5y:s/<c-r>5/
nnoremap <leader>x gdf=wy$<c-o>"9diwhp<c-i>dd<c-o>zz
nmap <leader>t :q<CR>
nmap <leader>a ggVG
nnoremap <leader>p "9dawp

vimrc -> ideavimrc
nvim -> .lua

" nnoremap <leader>y :.-6,.yank<left>
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" Plugins                                         """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'

" Requires plugins IdeaVim EasyMotion and AceJump
set easymotion
map f <leader><leader>s

map <c-n> :NERDTree<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" IDEA Actions                                    """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
nmap <leader>= :action EditorResetFontSize<CR>
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>i <action>(Generate)
nmap <leader>m <action>(Git.Menu)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GoToNextError)
nmap <leader>k <action>(Commit)
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>
nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>
nmap <leader>n :action GotoNextError<CR>
map gh <Action>(ShowErrorDescription)
nmap <leader>ri :action Inline<CR>
nmap <leader>rr :action RenameElement<CR>
nmap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>
nmap <leader>rm :action Move<CR>
nmap <leader>ro :action OptimizeImports<CR>
nmap <leader>rG :action Generate<CR>
nmap <leader>f  :action ReformatCode<CR>
nmap <, :action MoveElementLeft<CR>
nmap >, :action MoveElementRight<CR>
nmap <leader>gr :action Vcs.RollbackChangedLines<CR>
nmap <leader>gd :action Vcs.ShowDiff<CR>
nnoremap <leader>uj :action osmedile.intellij.stringmanip.UnescapeJavaAction<CR>
 nmap <leader>rev :action IntroduceVariable<CR>
 vmap <leader>rev :action IntroduceVariable<CR>
  
""""""""""""""""""""""""""""""""""""""""""""""""""""""" 
""" String Manipulation                             """ 
""""""""""""""""""""""""""""""""""""""""""""""""""""""" 
nnoremap <leader>cc :action StringManipulation.ToCamelCase<CR><ESC>
nnoremap <leader>sc :action StringManipulation.ToSnakeCase<CR>
nnoremap <leader>ssc :action StringManipulation.ToScreamingSnakeCase<CR>
nnoremap <leader>kc :action StringManipulation.ToKebabCase<CR>
vnoremap <leader>cc :action StringManipulation.ToCamelCase<CR><ESC>
vnoremap <leader>sc :action StringManipulation.ToSnakeCase<CR>
vnoremap <leader>ssc :action StringManipulation.ToScreamingSnakeCase<CR>
vnoremap <leader>kc :action StringManipulation.ToKebabCase<CR>
xnoremap :'<,'>norm! w<leader>cc :action StringManipulation.ToCamelCase<CR><ESC>
xnoremap :'<,'>norm! w<leader>sc :action StringManipulation.ToSnakeCase<CR>
xnoremap :'<,'>norm! w<leader>ssc :action StringManipulation.ToScreamingSnakeCase<CR>
xnoremap :'<,'>norm! w<leader>kc :action StringManipulation.ToKebabCase<CR>
