"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" Basic remapping                                 """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
let mapleader = " "

set history=10000
set visualbell " No bell sound
set clipboard=unnamedplus,unnamed,ideaput
set nocompatible
set backspace=2
set showcmd
set ideajoin
set incsearch

vnoremap < <gv
vnoremap > >gv

vnoremap p P

map Y y$

nmap s ys

nnoremap * *``

nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

nmap <C-w>q :q<CR>
nmap <leader>a ggVG

nmap <leader>pp :%s/('\(%(\w\+)s\)')/\1/g<cr>
nmap <leader>pr :%s/\(%(\w\+)s\)/('\1')/g<cr>

nmap <leader>dp :%s/{{\s*ref(['"]\(\w\+\)['"])\s*}}/adm.\1/g<cr>
nmap <leader>dd :%s/adm.\(\w\+\)/{{ ref('\1') }}/g<cr>

vmap <leader>dp :%s/\%V{{\s*ref(['"]\(\w\+\)['"])\s*}}/adm.\1/g<cr>
vmap <leader>dd :%s/\%Vadm.\(\w\+\)/{{ ref('\1') }}/g<cr>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" Plugins                                         """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""
Plug 'tpope/vim-surround'
set multiple-cursors

"""""""""""""""""""""""""""""""""""""""""""""""""""""""
""" IDEA Actions                                    """
"""""""""""""""""""""""""""""""""""""""""""""""""""""""

vnoremap " :action EditorAddCaretPerSelectedLine<CR>:action EditorLineStart<CR>
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>t :q<CR>

nmap <leader>i <action>(Generate)

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

map <S-f> <action>(Find)
map <S-r> <action>(Replace)
map <leader>sw <action>(SurroundWith)

nmap gr :action ShowUsages<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSuperMethod<CR>
map gh <Action>(ShowErrorDescription)

nmap <leader>f  :action ReformatCode<CR>

nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

function! python_line_title()
  let width = 80
  let text = trim(getline('.'))
  let num_equal_signs = width - len(text) - 4
  let left = num_equal_signs / 2
  let right = num_equal_signs - left
  let newline = '# ' . repeat('=', left) . ' ' . text . ' ' . repeat('=', right)
  exe 'normal! cc' . newline
endfunction

nnoremap <leader>cc :call python_line_title()<CR>
